.productDisplay {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 300px);
    column-gap: 10%;
    row-gap: 5vh;
}

.productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(241, 241, 241);
    padding: 16px;
    border-radius: 8px;
    text-decoration: none;
    transition: 200ms;
}

.productCard:hover {
    transform: scale(1.03);
    box-shadow: 4px 4px gray;
}

.img {
    width: auto;
    height: 200px;
}

.infoWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    text-align: center;
}

.price {
    font-weight: bold;
}